<!DOCTYPE html>
<html>
  <head>
    <title>writing.through.material</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="wtm">
<div class="writing">
  <%= link_to 'http://meetingwords.com/Yvbpl4FuSU'  do %>
      <i class="fa fa-pencil" style="font-size: 2em; color: black;"></i>
  <% end %>
</div>

   <div class="a">a<br></div>

   <div class="aa">a<br></div>

   <div class="e">e<br></div>

   <div class="g">g<br></div>

   <div class="gg">g<br></div>

   <div class="h">h<br></div>

   <div class="hh">h<br></div>

   <div class="i">i<br></div>

   <div class="ii">i<br></div>

   <div class="iii">i<br></div>

   <div class="l">l<br></div>

   <div class="m">m<br></div>

   <div class="n">n<br></div>

   <div class="o">o<br></div>

   <div class="r">r<br></div>

   <div class="rr">r<br></div>

   <div class="rrr">r<br></div>

   <div class="t">t<br></div>

   <div class="tt">t<br></div>

   <div class="ttt">t<br></div>

   <div class="u">u<br></div>

   <div class="w">w<br></div>

   <div class="dot">.<br></div>

   <div class="dotdot">.<br></div>
</div>
   <%= yield %>

  </body>
</html>
